#body {
    /* background-color: rgb(16, 16, 44); */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#color{
    background-color: #0e142a54;
    height: 10vh;
}

.div{
    /* border: 0.5vh solid #0e142a23; */
    height: 60vh;
    width: 50vw;
    display:flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: center;
    text-align: center;
}
.welcome{
    font-size: 2vw;
    color: rgb(243, 92, 193);
    font-weight: bolder;
    margin-left: 8vw;
    margin-bottom: 10vh;
}
.logo{
    height: 35vh;
    width: 35vw;
    margin-bottom: 10vh;
    display: block;
    justify-content: center;
    box-shadow: rgba(0, 162, 255, 0.17) 0px -23px 25px 0px inset, 
                rgba(3, 184, 255, 0.15) 0px -36px 30px 0px inset, 
                rgba(3, 116, 182, 0.1) 0px -79px 40px 0px inset, 
                rgba(0, 238, 255, 0.06) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 204, 255, 0.09) 0px 32px 16px;
}
.login{
    border: 0.5 solid green;
    background-color: green;
    margin-left: 14vw;
    margin-bottom: 10vh;
    color: white;
    border-radius: 2vh;
    height: 6vh;
    width: 8vw;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .login {
        width: 80%; 
        margin: 10px auto; 
    }
    .welcome{
        font-size: 5vw;
        margin-left: 0; 

    }
    .logo{
        height: 30vh; 
        width: 40vw;
        margin-left: 0; 
 
    }
}

/* Hover effect */
.login:hover {
    background-color: darkgreen; 
    cursor: pointer; 
}
.copy {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.App video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .content {
    position: relative; /* Ensure content overlays the video */
    z-index: 1; /* Ensure content appears above the video */
    /* Add additional styling for your content */
  }
  
  
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-coor: #0E142A;
}

#color{
    background-color: #0E142A;
    height: 10vh;
} 
#Article{
    color: aliceblue;
    margin-left: 39%;
}
.arc{
    border:1px solid #fff;
    margin-top: 3%;
    margin-right: 21%;
    text-align: center;
    border-radius: 22px;
}
#newsimg{
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    height: 31vh;
    width: 100vw;
}