#Article{
    color: aliceblue;
    margin-left: 39%;
}
.arc{
    border:1px solid #fff;
    margin-top: 3%;
    margin-right: 21%;
    text-align: center;
    border-radius: 22px;
}
#newsimg{
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    height: 31vh;
    width: 100vw;
}