nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem; /* 20px */
    box-shadow: 0 10px 15px -3px rgb(15, 70, 222), 0 4px 6px -2px rgba(29, 78, 216, 0.05);
    height:15vh ;
    color: #ffff;
    position: sticky;
    top: 0%;
    background-color: #0E142A;
}
img{
    width: 16vw;
}
input{
    width: 34vw;
    height: 5vh;
    border-radius: 30px;
    padding-left: 10px;
}
.profile{
    height: 12px;
}
#welcome-user{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
}
#Navbar-div{
    position: absolute;
    right: 4.8%;
    top: 12.5vh;
    background-color: #ffff;
    height: 5.1vh;
    width: 10vw;
    text-align: center;
    border-radius: 21px;
    color: rgb(0, 0, 0);
}
#post{
    background-color: #66ff00;
    padding: 12px;
    border-radius: 8px;
    margin-left: 10px;
}