.sidebar {
    position: fixed; 
    top:16vh;
    left: 0; 
    height: 100%; 
    width: 20vw; 
    color: white; 
    z-index: 1; 
    overflow-y: auto; 
    text-align: center;
    background-color: #11036a00;
    box-shadow: 0 10px 57px -3px rgb(15, 70, 222), 0 4px 6px -2px rgba(29, 78, 216, 0.05);
  }
  
  .menu {
    list-style-type: none;
  }
  .categories{
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
  }
  .menu li {
    cursor: pointer; 
  }
  
  .menu li:hover {
    color: #ff9900; 
  }
  