.sidebar {
    position: fixed; 
    top:10vh;
    left: 0; 
    height: 100%; 
    width: 20vw; 
    background-color: #808fd1be;
    color: white; 
    padding: 2vh; 
    z-index: 1; 
    overflow-y: auto; 
    text-align: center;
  }
  
  .menu {
    list-style-type: none;
    padding: 0; 
  }
  
  .menu li {
    margin-bottom: 1vh; 
    cursor: pointer; 
  }
  
  .menu li:hover {
    color: #ff9900; 
  }
  